<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title User Activation
    body
        div
            div Selamat robot TUMI anda sudah aktif, berikut data account anda :
            div(style="margin-bottom: 30px")
                table
                    tr
                        th(style="text-align:left") Email
                        td : #{email}
                    tr
                        th(style="text-align:left") Password
                        td : #{password}
            div Salam,
            div Tumi